.BackgroundMail {
    background-image: linear-gradient(to right, #52719f, #4462a6, #454fa8, #5436a4, #690098);
    color:aliceblue;
    text-align:center;
}
.BackgroundError {
    background: rgb(217,66,130);
    background: linear-gradient(90deg, rgba(217,66,130,1) 0%, rgba(189,2,184,1) 49%, rgba(1,156,187,1) 100%);
    text-align: center;
}

.colorbackground{
    background-color: rgb(255, 255, 255);
}
.coloraboutme{
    background: rgb(193,8,68);
background: linear-gradient(0deg, rgba(193,8,68,1) 0%, rgba(6,186,208,1) 100%);
}

.button {
    color: black
}

.colorhover:hover {
    background: rgb(193,8,68);
background: linear-gradient(0deg, rgba(193,8,68,1) 0%, rgba(6,186,208,1) 100%);
color: white;
}

.hoverpink:hover {
    background: rgb(251,63,184);
background: radial-gradient(circle, rgba(251,63,184,1) 0%, rgba(6,138,164,1) 100%);
    color: white
}
.buttondeux {
    color: white
}

.colorbarremenu{
    background-color: #068aa4;
}
